@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #0F0F0F;
    height: 100vh;
    overflow: hidden;
}

.gmnoprint,
.gm-style-cc {
    display: none !important;
}

img[alt="Google"] {
    display: none !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-range {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #1f1f1f;
    outline: none;
    border-radius: 64px;
    cursor: pointer;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #606F09;
    border: 1px solid #DAFF00;
    cursor: pointer;
}

.custom-range::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #606F09;
    border: 1px solid #DAFF00;
    cursor: pointer;
}

.custom-range::-webkit-slider-thumb:hover {
    background-color: #DAFF00;
}

.custom-range::-webkit-slider-thumb:active {
    background-color: #DAFF00;
}

/* .reactEasyCrop_CropAreaGrid::before {
    content: unset !important;
}

.reactEasyCrop_CropAreaGrid::after {
    content: unset !important;
} */

.reactEasyCrop_CropArea {
    border: 12px solid rgba(217, 217, 217, .7) !important;
    border-radius: 12px !important;
}

.loading-state {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #ADADAD;
    border-top-color: #DAFF00;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}